<!DOCTYPE html>
<html>
<head>
  <title>CloudStorage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag '//static-cdn.kloudless.com/p/platform/sdk/kloudless.authenticator.v0.1.js' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js' %>
  <%= csrf_meta_tags %>
  <%= render 'shared/nav' %>
</head>
<body>

<%= yield %>

</body>
</html>
